body {
    background: url(assets/fridge.png) no-repeat;
  }

  .card-wrapper {
    width: 20%;
    display: flex;
    background: #e0e0ff;
  }
  .card {
    width: 250px;
    height: 350px;
    border-style: transparent;
    padding: 10px;
    float: center;
    margin: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: midnightblue;
  }

  .card-button-color {
    color: lightgray;
  }

  #display {
    margin-top: 150px;
    height: 200px;
    width: 220px;
    margin-left: 60px;
  }

  #buttons {
    padding-top: 60px;
  }

  #clear {
    margin-left: 20px;
    font-size: 25px;
    color: slateblue;
    border-style: solid;
    width: 100px;
  }